:root {
  --pyxel-black: #000000;
  --pyxel-navy: #2b335f;
  --pyxel-purple: #7e2072;
  --pyxel-green: #19959c;
  --pyxel-brown: #8b4852;
  --pyxel-dark-blue: #395c98;
  --pyxel-light-blue: #a9c1ff;
  --pyxel-white: #eeeeee;
  --pyxel-red: #d4186c;
  --pyxel-orange: #d38441;
  --pyxel-yellow: #e9c35b;
  --pyxel-lime: #70c6a9;
  --pyxel-cyan: #7696de;
  --pyxel-gray: #a3a3a3;
  --pyxel-pink: #ff9798;
  --pyxel-peach: #edc7b0;
  --pyxel-background-color: #202224;
}

canvas#canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
